@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;
}

body {
    font-family: 'Gilda Display', serif;
}

main {
    background-color: #2b2b2b;
}

.content {
    background-color: #1f1f1;
    width: 65%;
    float: right;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a, a:visited {
    color: white;
    text-decoration: none;
}


/*	-------------------- HEADER
	------------------------------ */

header {
    width: 100%;
    position: fixed;
    padding-top: 2.5rem;
    z-index: 1;
}

header #lien {
    width: 20%;
}

.logo {
    width: 20%;
    float: left;
    margin-top: -2rem;
    margin: -2rem 0 0 2rem;
}

.logo h2, .logo img {
    float: left;
}

.logo h2 {
    font-size: 2.5rem;
    margin-top: 4rem;
    font-weight: 700;
}

nav {
    float: right;
    width: 70%;
    font-size: 2rem;
}

nav a {
    font-weight: 300;
    float: right;
    margin-right: 4rem;
    padding: 1rem 2rem;
}

nav a:first-child {
    margin-right: 6.5rem;
}

nav a:nth-child(2) {
    border: 2px solid #ffffff;
}

nav a:hover {
    background-color: rgba(255, 255, 255, .7);
    color: #000;
}


/* 	--------------------------------- SECTIONS
	------------------------------------------ */

section {}

#histoire {
    margin: 0 auto 0 auto;
    background-color: #1f1f1f;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

#histoire img {
    margin-left: -25rem;
}

#chef {
    margin: 0 auto 0 auto;
    background-color: #1f1f1f;
    padding-bottom: 11rem;
    margin-bottom: 10rem;
}

#chef img {
    margin-left: -32.5rem;
}

article {
    display: flex;
    justify-content: flex-end;
}

.w50 {
    width: 100%;
    margin-right: 0;
}

.w50 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: normal;
}

#histoire .flex h2 {
    margin-left: 3.2rem;
    margin-top: 2.3rem;
}

#chef .flex2 h2 {
    margin-left: 14.8rem;
    margin-top: 6.7rem;
}

#histoire .flex p {
    margin-left: 8rem;
    margin-top: 5.2rem;
}

#chef .flex2 p {
    margin-left: 11.2rem;
    margin-top: 3rem;
}

.w50 p {
    width: 50%;
    text-align: right;
    font-size: 2rem;
}

#histoire .flex h2 span {
    margin-left: 8.3rem;
}

#histoire .flex h2 strong {
    font-family: 'Roboto Bold', sans-serif;
}

#chef .flex2 h2 strong {
    margin-left: 2.5rem;
    font-family: 'Roboto Bold', sans-serif;
}

#histoire img, #chef img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}


/* 	--------------------------------- FOOTER
	------------------------------------------ */

footer {
    height: 7rem;
    width: 80%;
    margin: 10rem auto 0 auto;
    padding-bottom: 6rem;
    font-size: 1.8rem;
    color: #8a8a8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*	------------- Formulaire Newsletter
--------------------------------------- */


/*	------------- Network icones
------------------------------------- */

#footer_form {
    display: flex;
    flex-flow: row wrap;
    width: 55%;
}

#label {
    text-transform: uppercase;
}

#newsletter {
    width: 75%;
}

#network {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#network a {
    margin: 0 1rem;
    transition: all .25s ease;
}

#network a:hover {
    opacity: 0.7;
}

#adresse {
    list-style: none;
}

#adresse li {
    margin: 1rem 0;
}

/*  --------------------------------------------------- Media Queries
------------------------------------------------------------------- */

@media screen and (max-width: 1280px) {
    
    #chef img {
        width: 60%;
    }

}
@media screen and (max-width: 1040px) {
    
    /*    ------------- Section Histoire ------ */
  .content {
    width: 85%;
    float: none;
    margin: 0 auto;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #histoire img, #chef img {
    margin-left: 0;
  }

  #chef img {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 960px) {

  main {
    width: auto;
  }

  /*  ---------------- Header / faire disparaître le titre
  ------------------------------ */

  header h2 {
    display: none;
  }

  /*  --------------- Footer
  ----------------------------- */

  footer {
    flex-flow: row wrap;
    height: auto;
  }
    /* -- Forcer l'adresse et le tel à passer en dessous -- */
  #adresse {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer_form {
    width: 60%;
  }

  #label { /* -- agrandir la zone email -- */
    margin-left: 8rem;
  }

  #network a { 
    margin: 0 3rem;
  }

  #google {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  
  /*  ------------ HEADER
  ----------------------- */
  
  header { /* -- repositionner le header (nav + logo) -- */
    display: flex;
    justify-content: space-around;
  }

  .logo img, nav, nav a { /* changement de méthode : flex */
    float: none;
  }
  
  .logo {
    margin-left: 2rem;
  }

  nav { /* repositionner les liens dans la nav */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  nav a {
    margin-right: auto;
  }

  nav a:first-child { /* Supprimer la margin mise en place sur grand écran */
    margin-right: auto;
  }

  nav a:nth-child(2) {
    border: none;
  }

  /*  ---------- FOOTER -- */

  #adresse {
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }

  #network a {
    margin: 0 1rem;
  }

  #label {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  
  }


@media screen and (max-width: 480px) {

  /*  ----------- HEADER
  --------------------------- */
  
  header { /* passage en position relative avec un background noir */
    text-align: center;
    padding-top: 0;
    position: relative;
    background-color: #1f1f1f;
    text-transform: uppercase;
  }

  nav {

    width: 100%;
    display: block;
  }

  nav a {
    width: 100%;
    display: block;
  }

  #lien { /* -- Supprimer l'affichage du logo -- */
    display: none;  
  }
  /*    -- Section Histoire -- */

  #chef img {
    width: 85%;
  }

  #chef .flex2 h2 {
    margin-left: 0;
    text-align: center;
    font-size: 2.5rem;
  }

  #chef .flex2 p {
    margin: 3rem auto 0 auto;
    text-align: left;
  }

  .flex {
    margin: 5.2rem auto;
    text-align: left;
  }

  /*    -- FOOTER -- */
  
  footer {
    margin: 10rem 2rem;
    padding-bottom: 0;
  }
}



